html {
background-image: url(siege.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow-x:  hidden;
}
.btn{
	position:relative;
    display: block;
	width: 100%;
	top: 800px;
	text-align:center;
 }
 #attack{
	background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
 }
 #protect{
	background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
 }
 #oper {
	position:relative;
	display: block;
	margin: 0 auto;
 }
img{
	position:relative;
    display: none;
	margin: 0 auto;
 }