html {
background-image: url(siege.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-appearance: none;
-moz-appearance:none;
background-size: cover;
overflow-x:  hidden;
}
.mainCl{
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap; 
	position:relative;
}
.btn{
	position:relative;
    display: block;
	width: auto;
	top: 50px;
	text-align:center;
 }
 #attack{
	background-color: #007FFF; 
 }
 #protect{
	background-color: red; 
 }
 #attack,#protect,#return{
	border-radius: 6px;
    color: white;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
	border: none;
	cursor: pointer;
	transition: transform 0.2s ease;
	box-shadow: 0 5px 10px rgba (0, 0, 0, 0.1);
 }
  #return{
	position:relative;
	display: block;
	background-color: #191970; 
	width: 50px;
	margin: 0 auto;
}
 #attack:active,#protect:active,#return:active{
	transform: scale(0.96);
 }
 #oper {
	display: block;
 }
 #b35 {
	width: 600px;
	height: 427.717px;
 }
img{
	position:relative;
    display: none;
	width: 500px;
	height: 427.717px;
	margin: 0 auto;
}